@import '../utilities/variables';

.startFreeContainer {
    margin-top: 120px;
    margin: 130px 15%;
    padding: 4rem 3rem;
    display: flex;
    flex-wrap: wrap;
    background: #F2FAFF;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;

    h2 {
        font-size: 44px;
        font-weight: 400;
        font-family: "Montserrat", "Helvetica Neue", Arial;

        .yourBusiness {
            color: $main-color;
        }
    }

    .startFree {
        color: #FFFF;
        background: $main-color;
        padding: 15px 25px 13px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-family: "Montserrat", "Helvetica Neue", Arial;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
    }

    .startFree:hover {
        transform: translateY(-10px);
    }
}

@media only screen and (max-width: 768px) {
    .startFreeContainer {
        margin: 60px 0px;
        justify-content: center;
        padding: 35px;

        h2 {
            font-size: 28px;
            text-align: center;
        }

        .startFree {
            margin-top: 25px;
            display: block; 
            width: 100%;
        }
    }
}