@import '../utilities/variables';

.pricing_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    h1 {
        line-height: 9px;
    }
}

.switch_container {
    display: flex;
    margin-left: 50px;
    justify-content: space-around;
    align-items: center;
    position: relative;

    span {
        font-weight: 600;
        font-family: "Montserrat", "Helvetica Neue", Arial;
        font-size: 17px;
        letter-spacing: 1.22px;
        text-transform: uppercase;
    }

    .switch_toggle {
        margin-left: 28px;
        margin-right: 28px;
    }

    img {
        margin-top: -42px;
        margin-left: -110px;
    }
}

/* Switch button */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    /* Hide default HTML checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

/* Slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: $main-color;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Styles pricing content */
.pricing_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding: 0px 10%;

    .plan_div {
        border: 1px solid rgba(2, 4, 69, .15);
        border-radius: 5px;
        background: #fbfcff;
        box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
        display: flex;
        position: relative;
        overflow: hidden;
        flex-direction: column;
        padding: 6% 4%;
        width: 32%;
        overflow: hidden;
        
        
        h3 {
            font-size: 26px;
            color: $text-color;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            margin-top: 10px;
        }

        .price_content {
            border-bottom: 1px solid $main-color;
            margin-top: 15px;
            padding-bottom: 6px;
        }
        .price {
            display: flex;

            .money {
                position: relative;
                line-height: 53px;
                font-size: 30px;
                font-weight: 400;
                color: $text-color;
            }

            .number {
                font-size: 62px;
                font-weight: 600;
                color: $text-color;
                line-height: 72px;
                margin-left: 15px;
            }

            .month {
                font-weight: 400;
                font-size: 1.625rem;
                align-self: end;
                margin-left: 15px;
            }

            .billedYearly span {
                text-align: right !important;
                display: block;
            }
        }

        ul {
            margin-bottom: 30px;
            padding-top: 25px;
        }

        li {
            margin-top: 10px;
        }

        .start_button {
            margin-top: 20px;
            padding: 22px 25px;
            border-radius: 4px;
            color: white;
            background: $main-color;
            font-weight: 700;
            text-align: center;
            letter-spacing: .7px;
            border: 0;
            transition: all 0.3s ease-in-out;
            margin-top: auto;
        }

        .start_button:hover {
            transform: translateY(-10px);
        }
    }
}

/* Ribbon */
.ribbon {
    position: absolute;
    top: 42px;
    left: auto;
    bottom: auto;
    right: -221px;
    width: 360px;
    padding: 11px 100px;
    background: $main-color;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    transform: translate(-29.3%) rotate(45deg);
}

@media only screen and (max-width: 768px) {
    .pricing_content {
        padding: 0px;

        .plan_div {
            width: 100%;
            margin-top: 30px;
        }
    }

    .ribbon {
        font-size: 13px;
        top: 32px;
        right: -243px;
    }
}