@use "./styles/navbar";
@use "./styles/footer";
@use "./styles/bodyStyles/Pricing.scss";
@use "./styles/bodyStyles/addons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Styles container */
.container {
  padding: 110px 40px;
  width: 100%;
}